PC/Java/.metadata

PC/Java/Robocol/bin
PC/Java/Robocol/.settings
PC/Java/Robocol/.project
PC/Java/Robocol/.classpath
PC/Java/Robocol_Auxiliar/bin
PC/Java/Robocol_Auxiliar/.settings
PC/Java/Robocol_Auxiliar/.project
PC/Java/Robocol_Auxiliar/.classpath
PC/Java/Robocol/libs/video/vlc-2.2.0

PC/Java/.idea/
PC/Java/Robocol/.idea/
PC/Java/Robocol/Robocol.iml
PC/Java/Robocol_Auxiliar/.idea/
PC/Java/Robocol_Auxiliar/Robocol_Auxiliar.iml
PC/Java/Robocol_Auxiliar/out/

FRDM_KL46Z/.metadata
FRDM_KL46Z/RemoteLaunch
FRDM_KL46Z/RemoteSystemsTempFiles
