/Java/Robocol/bin
/Java/Robocol/.classpath
/Java/Robocol/.project
/Java/Robocol_Auxiliar/bin
/Java/Robocol_Auxiliar/.settings
/Java/Robocol_Auxiliar/.project
/Java/Robocol_Auxiliar/.classpath
/Java/Robocol/libs/video/vlc-2.2.0